 a {
    text-decoration: none;
    cursor: pointer;
    color: green;
 }

 body {
    font-family: "Caveat", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
 }

 .ravno {
    width: 30px;
 }

 .main,
 .main2,
 .main3,
 .main4,
 .main5,
 .main6,
 .main7 {
    height: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 97vw;
    overflow: hidden;
 }

 .div_img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .img-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
 }

 .img {
    border: 20px solid white;
    border-bottom: 60px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    position: relative;
    box-sizing: border-box;
 }

 .img::before,
 .img::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 20px;
    background: white;
 }

 .img::before {
    bottom: -30px;
    left: -30px;
    transform: rotate(45deg);
    box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.725);
 }

 .img::after {
    top: -10px;
    right: -10px;
    transform: rotate(45deg);
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
 }

 .name {
    position: absolute;
    bottom: 5px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: calc(100% - 50px);
 }

 .img1-container .name {
    transform: rotate(-10deg);
    margin-left: 30px;
    margin-bottom: 4px;
 }

 .img2-container .name {
    transform: rotate(10deg);
    margin-right: 30px;
    margin-bottom: 4px;
 }

 .img1 {
    transform: rotate(-10deg);
 }

 .img2 {
    transform: rotate(10deg);
 }

 .title {
    font-size: 3em;
    font-weight: 400;
    margin: 20px 0;
    color: gray;
 }

 .img-container img {
    display: inline-block;
    width: 90%;
 }

 .main_footer {
    display: flex;
    flex-direction: column;
 }

 .heart {
    width: 150px;
    aspect-ratio: 1;
 }

 .main2 {
    display: flex;
    box-sizing: border-box;
 }

 .main2 p,
 .main3 p,
 .main4 p,
 .main5 p,
 .main5 span {
    font-size: 24px;
    color: gray;
    width: 80vw;
    padding-bottom: 25px;
 }

 .main2 p {
    width: 270px;
    padding-left: 20px;
 }

 h2 {
    font-size: 42px;
    padding: 0;
    margin: 0;
 }

 .img3-container .img3 {
    width: 195px;
 }

 .name2 {
    font-weight: 600;
    font-size: 22px;
    color: black;
 }

 .data {
    font-size: 30px;
 }

 .data_container {
    background-image: url(/img/bg.png);
    background-position: center;
    background-position-y: -5px;
    background-size: contain;
    background-repeat: no-repeat;
 }

 .btn_adres,
 .main6 button {
    padding: 13px 17px;
    background: #acd8ff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 15px;
 }

 .main4 {
    display: flex;
    justify-content: space-evenly;
 }

 .main4 p {
    font-size: 1.3em;
 }

 .main4 span {
    font-size: 2rem;
 }

 .flower {
    width: 130px;
    aspect-ratio: 1;
 }

 .main5 {
    padding-top: 30px;
 }

 .main5 p {
    border-bottom: 1px solid black;
 }

 .main6 p {
    font-size: 1.5em;
 }

 .main6 input,
 .main6 label {
    margin-bottom: 10px;
    font-size: 1.2em;
 }

 .main7 div {
    padding-top: 20px;
 }

 .main7 p {
    font-size: 1.3em;
 }

 .btn {
    padding-bottom: 15px;
 }

 #main6-form {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    align-items: center;
    padding-bottom: 50px;
 }

 input[type="text"] {
    border: 1px solid black;
    border-radius: 13px;
    padding: 7px 15px;
 }

 .custom-radio,
 .custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.2em;
    user-select: none;
 }

 .custom-radio input,
 .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
 }

 .custom-radio-span,
 .custom-checkbox-span {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 2px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
    transition: background-color 0.3s;
 }

 .custom-checkbox-span {
    border-radius: 3px;
 }

 .custom-radio input:checked~.custom-radio-span {
    background-color: #2196F3;
    border-color: #2196F3;
 }

 .custom-checkbox input:checked~.custom-checkbox-span {
    background-color: #2196F3;
    border-color: #2196F3;
 }

 .custom-radio-span:after,
 .custom-checkbox-span:after {
    content: "";
    position: absolute;
    display: none;
 }

 .custom-radio input:checked~.custom-radio-span:after {
    display: block;
 }

 .custom-checkbox input:checked~.custom-checkbox-span:after {
    display: block;
 }

 .custom-radio-span:after {
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    transform: translate(-50%, -50%);
 }

 .custom-checkbox-span:after {
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background: white;
 }

 @media (min-width: 768px) {
    h2 {
       font-size: 2rem;
    }

    .img1,
    .img2 {
       height: 48vh;
       aspect-ratio: 1;
    }

    .title {
       font-size: 3rem;
    }

    .main2 p,
    .main3 p,
    .main4 p,
    .main5 p,
    .main5 span,
    .main7 p {
       font-size: 28px;
       color: gray;
       width: 80vw;
       padding-bottom: 25px;
    }

    .img3-container .img3 {
       width: 100%;
    }

    #main6-form {
       padding-bottom: 0;
    }
 }

 @media (min-width: 1024px) {
    .title {
       font-size: 4rem;
    }

    h2 {
       font-size: 3rem;
    }

    .img-container .img {
       height: 48vh;
       aspect-ratio: 1;
       width: 60%;
    }
 }

 @media (min-width: 2560px) {
    .title {
       font-size: 7rem;
    }

    h2 {
       font-size: 4.5rem;
    }

    .name {
       font-size: 2.5rem;
    }

    .main2 p,
    .main3 p,
    .main4 p,
    .main5 p,
    .main5 span,
    .main7 p {
       font-size: 54px;
       color: gray;
       width: 80vw;
       padding-bottom: 25px;
    }
 }